
a.navbar-brand{
    margin-left: 0px;
    font-size: 25px;
    padding: 10px;
    font-family: monospace;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
}

h3{
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: monospace;
    font-weight: bold; 
}

#p_data{
    padding-top: 10px;
    padding-bottom: 10px;
}
.img-thumbnail{
    margin-right: 20px;
    margin-bottom: 10px;
}

#Viz{
    background-color:  rgb(231, 230, 230); 
}


.body{
    background-color: rgb(231, 230, 230);
}

#analysis{
    margin-top: 40px;
}

.box {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 20px 40px;
    color:black;
    background-color: white;
}

#comparison{
    background-color: white;
}

@media(max-width:767px){
    .navbar.bg-light{
        background-color:  #28a745!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}